$Bg-color: #292929;
$primary-color: #00abd6;
$secondary-color: #e9ab00;
$tertiary-color: #e51a4c;
$white-color: #fff;
$gray-color: #eaeaeaaf;
$green-color: #00c400af;
$celeste-color: #80bfff;

// Card
// Border radius
$BR: 5px;
$Height: 10px;

// Priority
$priority-1: #e51a4c;
$priority-2: #e9ab00;
$priority-3: #00abd6;
$percentage: 75%;

// Mixin
// Dare color según la prioridad de la tarea, por lo que creare un mixin para reutilizarlo
@mixin priority($color) {
	border: 1px solid darken($color, $amount: 20%);
	border-radius: $BR;

	// En el porcentaje hare un quiebre al final para que se vea mucho mejor
	.percentage {
		background-color: $color;
		border-top-left-radius: $BR + -2px;
		width: calc($percentage + 1px);
		height: $Height;

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: $percentage;

			background-color: $color;
			height: $Height;
			width: 15px;

			clip-path: polygon(0 150%, 100% 0%, 100% 0%, 0 calc(100% - 10px));
		}
	}

	.date {
		color: $color;
	}
}
