$Bg-color: #292929;
$primary-color: #00abd6;
$secondary-color: #e9ab00;
$tertiary-color: #e51a4c;
$white-color: #fff;
$gray-color: #eaeaeaaf;
$green-color: #00c400af;
$celeste-color: #80bfff;

// Card
// Border radius
$BR: 5px;
$Height: 10px;

// Priority
$priority-1: #e51a4c;
$priority-2: #e9ab00;
$priority-3: #00abd6;
$percentage: 75%;
