.confirm-container {
	position: absolute;
	right: 0.2rem;
	bottom: 0;

	display: flex;
	gap: 4px;
}

.confirm-container p {
	position: absolute;
	left: -5px;
	bottom: 22px;
}

.btn {
	font-size: 0.8rem;
	padding: 0.2rem;
	border-radius: var(--BR, 5px);
	height: 24px;
}

.btn:hover {
	cursor: pointer;
}

.btn-success {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}

.btn-cancel {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}
