@use '../styles/variables.scss' as *;

.to-dos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 1rem;
	align-items: center;
	justify-content: center;

	article {
		width: 100%;
		position: relative;

		h3 {
			margin-top: 0.25rem;
			text-align: center;
			font-size: 1.2rem;
			font-weight: bold;
		}

		.date {
			margin: 0;
			color: $primary-color;
			font-size: 0.7rem;

			position: absolute;
			top: 0;
			right: 0.5rem;
		}

		p {
			margin: 0;
			padding: 0.5rem;
			font-size: 0.8rem;
		}
	}

	.priority-1 {
		@include priority($priority-1);
	}

	.priority-2 {
		@include priority($priority-2);
	}

	.priority-3 {
		@include priority($priority-3);
	}
}
