.form-add-ToDo {
	border: 1px solid var(--gray-color, #eaeaeaaf);
	border-radius: var(--BR);
	position: relative;
	color: var(--text-color, #fff);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	caret-color: var(--text-color, #eaeaeaaf);
	caret-shape: underscore;
}

.form-add-ToDo input,
.form-add-ToDo textarea,
.form-add-ToDo select {
	background-color: transparent;
	border: none;
	text-align: center;
	padding: 5px;
	color: var(--text-color, #fff);
	border-radius: var(--BR, 5px);
}

.form-add-ToDo input::placeholder,
.form-add-ToDo textarea::placeholder,
.form-add-ToDo select::placeholder {
	color: color-mix(in srgb, var(--text-color, #fff), black 20%);
}

.form-add-ToDo input:focus,
.form-add-ToDo textarea:focus,
.form-add-ToDo select:focus {
	outline: 1px solid var(--secondary-color, #eaeaeaaf);
}

.form-add-ToDo input[name='title'] {
	font-size: 1.2rem;
}

.form-add-ToDo textarea {
	width: 80%;
	max-width: 100%;
	text-align: left;
	resize: none;
}

.form-add-ToDo .options {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
	justify-content: space-between;
}

.form-add-ToDo .options > * {
	padding: 0.25rem 0;
}

.form-add-ToDo input[type='date'] {
	color: var(--text-color, #fff);
	background-color: transparent;
	border: none;
}

.form-add-ToDo input[type='date']:focus {
	outline: none;
	border-bottom: 1px solid var(--secondary-color, #eaeaeaaf);
}

.form-add-ToDo input[type='date']::-webkit-calendar-picker-indicator {
	filter: invert(1);
	border-radius: var(--BR, 5px);
}

.form-add-ToDo select {
	border-radius: var(--BR, 5px);
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
}

.form-add-ToDo select:focus {
	background-color: color-mix(in srgb, var(--secondary-color, #eaeaeaaf), black 20%);
}

.form-add-ToDo button[type='submit'] {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;

	background-color: color-mix(in srgb, var(--secondary-color, #e9ab00), black 30%);
	border-radius: var(--BR, 5px);
	border: none;
	color: var(--text-color, #fff);
	padding: 0.25rem 0.5rem;
	font-size: 0.675rem;
	font-weight: 500;
	cursor: pointer;

	transition: font-size 200ms ease-in-out, background-color 200ms ease-out;
}

.form-add-ToDo button[type='submit']:hover {
	background-color: color-mix(in srgb, var(--secondary-color, #eaeaeaaf), black 60%);
	font-size: 0.8rem;
}

.close-item {
	background-color: transparent;
	border: none;
	color: var(--text-color, #fff);
	font-size: 1rem;

	position: absolute;
	top: 0.5rem;
	right: 0.5rem;

	transition: transform 200ms ease-in-out;
}

.close-item:hover {
	cursor: pointer;
	transform: scale(1.2);
}
