.to-dos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.to-dos article {
	width: 100%;
	position: relative;
}

.to-dos article h3 {
	margin-top: 0.25rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}

.to-dos article .date {
	margin: 0;
	color: var(--primary-color, #00abd6);
	font-size: 0.7rem;

	position: absolute;
	top: 0;
	right: 0.5rem;
}

.to-dos article p {
	margin: 0;
	padding: 0.5rem 2rem 0.25rem 0.5rem;
	font-size: 0.8rem;
}

.to-dos article svg {
	position: absolute;
	width: 1rem;
	height: 1rem;
	bottom: 0.5rem;
	right: 0.5rem;
}

[class*='priority'] {
	border-radius: var(--BR, 5px);
}

[class*='priority'] .percentage {
	border-top-left-radius: var(--BR, 5px) + -2px;
	width: calc(var(--percentage, 75%) + 1px);
	height: var(--decorator-height, 10px);
}

/* En el porcentaje hare un quiebre al final para que se vea mucho mejor */
[class*='priority'] .percentage::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: var(--percentage, 75%);

	height: var(--decorator-height, 10px);
	width: 15px;
	clip-path: polygon(0 150%, 100% 0, 100% 0, 0 calc(100% - 10px));
}

.low-priority {
	border: 1px solid color-mix(in srgb, black 20%, var(--low-priority, #e51a4c));
}

.low-priority .percentage {
	background-color: var(--low-priority, #e51a4c);
}

.low-priority .percentage::after {
	background-color: var(--low-priority, #e51a4c);
}

.low-priority .date {
	color: var(--low-priority, #e51a4c);
}

.medium-priority {
	border: 1px solid color-mix(in srgb, black 20%, var(--medium-priority, #e9ab00));
}

.medium-priority .percentage {
	background-color: var(--medium-priority, #e9ab00);
}

.medium-priority .percentage::after {
	background-color: var(--medium-priority, #e9ab00);
}

.medium-priority .date {
	color: var(--medium-priority, #e9ab00);
}

.high-priority {
	border: 1px solid color-mix(in srgb, black 20%, var(--high-priority, #00abd6));
}

.high-priority .percentage {
	background-color: var(--high-priority, #00abd6);
}

.high-priority .percentage::after {
	background-color: var(--high-priority, #00abd6);
}

.high-priority .date {
	color: var(--high-priority, #00abd6);
}
